<%= form_for(@updaterete) do |f| %>
  <% if @updaterete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@updaterete.errors.count, "error") %> prohibited this updaterete from being saved:</h2>

      <ul>
      <% @updaterete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
