<h1>Listing getrates</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @getrates.each do |getrate| %>
  <tr>
    <td><%= link_to 'Show', getrate %></td>
    <td><%= link_to 'Edit', edit_getrate_path(getrate) %></td>
    <td><%= link_to 'Destroy', getrate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Getrate', new_getrate_path %>
