<h1>Listing updatehoteltexts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @updatehoteltexts.each do |updatehoteltext| %>
  <tr>
    <td><%= link_to 'Show', updatehoteltext %></td>
    <td><%= link_to 'Edit', edit_updatehoteltext_path(updatehoteltext) %></td>
    <td><%= link_to 'Destroy', updatehoteltext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Updatehoteltext', new_updatehoteltext_path %>
