<%= form_for(@getcommissionstatus) do |f| %>
  <% if @getcommissionstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@getcommissionstatus.errors.count, "error") %> prohibited this getcommissionstatus from being saved:</h2>

      <ul>
      <% @getcommissionstatus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
