<form method="POST" action="/bookings" >                      
                        
                          <table cellspacing="0" cellpadding="4" bordercolor="#dcdcdc" style="border-collapse: collapse;" rules="none" frame="box">
                          <tbody><tr>
	<td background="#dcdcdc" style="border-right: 2px solid white;" class="frmHeader">Parameter</td>
	<td background="#dcdcdc" class="frmHeader">value</td>
</tr>

                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">User:</td>
                            <td><input type="text" name="User" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Password:</td>
                            <td><input type="text" name="Password" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Create:</td>
                            <td><input type="text" name="Create" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">idRSV:</td>
                            <td><input type="text" name="idRSV" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">PropCode:</td>
                            <td><input type="text" name="PropCode" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">RoomCode:</td>
                            <td><input type="text" name="RoomCode" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">RateLevel:</td>
                            <td><input type="text" name="RateLevel" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">RateCode:</td>
                            <td><input type="text" name="RateCode" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Checkin:</td>
                            <td><input type="text" name="Checkin" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Checkout:</td>
                            <td><input type="text" name="Checkout" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Rate:</td>
                            <td><input type="text" name="Rate" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">MealsInc:</td>
                            <td><input type="text" name="MealsInc" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">NumRooms:</td>
                            <td><input type="text" name="NumRooms" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Adults:</td>
                            <td><input type="text" name="Adults" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Children:</td>
                            <td><input type="text" name="Children" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Crib:</td>
                            <td><input type="text" name="Crib" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Remark:</td>
                            <td><input type="text" name="Remark" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Text:</td>
                            <td><input type="text" name="Text" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Reference:</td>
                            <td><input type="text" name="Reference" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuName:</td>
                            <td><input type="text" name="CuName" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuFirstname:</td>
                            <td><input type="text" name="CuFirstname" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuTitle:</td>
                            <td><input type="text" name="CuTitle" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuAddress1:</td>
                            <td><input type="text" name="CuAddress1" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuAddress2:</td>
                            <td><input type="text" name="CuAddress2" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuAddress3:</td>
                            <td><input type="text" name="CuAddress3" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuZIP:</td>
                            <td><input type="text" name="CuZIP" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuCity:</td>
                            <td><input type="text" name="CuCity" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuState:</td>
                            <td><input type="text" name="CuState" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuCountry:</td>
                            <td><input type="text" name="CuCountry" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuTelephone1:</td>
                            <td><input type="text" name="CuTelephone1" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuTelephone2:</td>
                            <td><input type="text" name="CuTelephone2" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuTelefax:</td>
                            <td><input type="text" name="CuTelefax" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuEmail:</td>
                            <td><input type="text" name="CuEmail" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuCompany:</td>
                            <td><input type="text" name="CuCompany" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuMobile:</td>
                            <td><input type="text" name="CuMobile" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuNationality:</td>
                            <td><input type="text" name="CuNationality" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuPassport:</td>
                            <td><input type="text" name="CuPassport" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CuBirthDate:</td>
                            <td><input type="text" name="CuBirthDate" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CCIDCardorganisation:</td>
                            <td><input type="text" name="CCIDCardorganisation" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CCNumber:</td>
                            <td><input type="text" name="CCNumber" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CCExpirydate:</td>
                            <td><input type="text" name="CCExpirydate" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CCHolder:</td>
                            <td><input type="text" name="CCHolder" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CCCVC:</td>
                            <td><input type="text" name="CCCVC" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CCZIP:</td>
                            <td><input type="text" name="CCZIP" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Info:</td>
                            <td><input type="text" name="Info" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CustomerNumber:</td>
                            <td><input type="text" name="CustomerNumber" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">FreqTravNum:</td>
                            <td><input type="text" name="FreqTravNum" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">FreqGuestNum:</td>
                            <td><input type="text" name="FreqGuestNum" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">GDSRoomCode:</td>
                            <td><input type="text" name="GDSRoomCode" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">ATC:</td>
                            <td><input type="text" name="ATC" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">BSAGENT:</td>
                            <td><input type="text" name="BSAGENT" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">AgentName:</td>
                            <td><input type="text" name="AgentName" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CorpAcc:</td>
                            <td><input type="text" name="CorpAcc" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">ArrivalTime:</td>
                            <td><input type="text" name="ArrivalTime" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">PCC:</td>
                            <td><input type="text" name="PCC" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Voucher:</td>
                            <td><input type="text" name="Voucher" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">RateAgreement:</td>
                            <td><input type="text" name="RateAgreement" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">WrittenConf:</td>
                            <td><input type="text" name="WrittenConf" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">GDSCurrency:</td>
                            <td><input type="text" name="GDSCurrency" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">CurrencyCode:</td>
                            <td><input type="text" name="CurrencyCode" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">IDBookingSource:</td>
                            <td><input type="text" name="IDBookingSource" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">MarketCode:</td>
                            <td><input type="text" name="MarketCode" size="50" class="frmInput"></td>
                          </tr>
                        
                        <tr>
                          <td></td>
                          <td align="right"> <input type="submit" class="button" value="call"></td>
                        </tr>
                        </tbody></table>
                      

                    </form>