<%= form_for(@gethotel) do |f| %>
  <% if @gethotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gethotel.errors.count, "error") %> prohibited this gethotel from being saved:</h2>

      <ul>
      <% @gethotel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
