<%= form_for(@cancelbooking) do |f| %>
  <% if @cancelbooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cancelbooking.errors.count, "error") %> prohibited this cancelbooking from being saved:</h2>

      <ul>
      <% @cancelbooking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
