<%= form_for(@updatebooking) do |f| %>
  <% if @updatebooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@updatebooking.errors.count, "error") %> prohibited this updatebooking from being saved:</h2>

      <ul>
      <% @updatebooking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
