<h1>Listing updatebookings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @updatebookings.each do |updatebooking| %>
  <tr>
    <td><%= link_to 'Show', updatebooking %></td>
    <td><%= link_to 'Edit', edit_updatebooking_path(updatebooking) %></td>
    <td><%= link_to 'Destroy', updatebooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Updatebooking', new_updatebooking_path %>
