<%= form_for(@gethotelstaticdatum) do |f| %>
  <% if @gethotelstaticdatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gethotelstaticdatum.errors.count, "error") %> prohibited this gethotelstaticdatum from being saved:</h2>

      <ul>
      <% @gethotelstaticdatum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
