<h1>Listing gethotelstaticdata</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gethotelstaticdata.each do |gethotelstaticdatum| %>
  <tr>
    <td><%= link_to 'Show', gethotelstaticdatum %></td>
    <td><%= link_to 'Edit', edit_gethotelstaticdatum_path(gethotelstaticdatum) %></td>
    <td><%= link_to 'Destroy', gethotelstaticdatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gethotelstaticdatum', new_gethotelstaticdatum_path %>
