<h1>Listing updateavails</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @updateavails.each do |updateavail| %>
  <tr>
    <td><%= link_to 'Show', updateavail %></td>
    <td><%= link_to 'Edit', edit_updateavail_path(updateavail) %></td>
    <td><%= link_to 'Destroy', updateavail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Updateavail', new_updateavail_path %>
