<h1>Listing setds</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @setds.each do |setd| %>
  <tr>
    <td><%= link_to 'Show', setd %></td>
    <td><%= link_to 'Edit', edit_setd_path(setd) %></td>
    <td><%= link_to 'Destroy', setd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Setd', new_setd_path %>
