<form method="POST" action="/getavailfbs" >                      
                        
                          <table cellspacing="0" cellpadding="4" bordercolor="#dcdcdc" style="border-collapse: collapse;" rules="none" frame="box">
                          <tbody><tr>
	<td background="#dcdcdc" style="border-right: 2px solid white;" class="frmHeader">Parameter</td>
	<td background="#dcdcdc" class="frmHeader">Wert</td>
</tr>

                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">User:</td>
                            <td><input type="text" name="User" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">Password:</td>
                            <td><input type="text" name="Password" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">idHotel:</td>
                            <td><input type="text" name="idHotel" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">idSystem:</td>
                            <td><input type="text" name="idSystem" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">ForeignPropCode:</td>
                            <td><input type="text" name="ForeignPropCode" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">IncludeRateLevels:</td>
                            <td><input type="text" name="IncludeRateLevels" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">ExcludeRateLevels:</td>
                            <td><input type="text" name="ExcludeRateLevels" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">IncludeRoomTypes:</td>
                            <td><input type="text" name="IncludeRoomTypes" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">ExcludeRoomTypes:</td>
                            <td><input type="text" name="ExcludeRoomTypes" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">StartDate:</td>
                            <td><input type="text" name="StartDate" size="50" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td style="color: #000000; font-weight: normal;" class="frmText">EndDate:</td>
                            <td><input type="text" name="EndDate" size="50" class="frmInput"></td>
                          </tr>
                        
                        <tr>
                          <td></td>
                          <td align="right"> <input type="submit" class="button" value="Aufrufen"></td>
                        </tr>
                        </tbody></table>
                      

                    </form>